---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'

const headings = [
  { depth: 2, slug: 'social', text: 'Social' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>Developer / Designer</p>
  <p>你好， 我是zenus10, 你也可以叫我z10,很高兴认识你!</p>

  {/* social-networks */}
  <h2 id='social'>Social</h2>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/zenus10',
        text: 'followers',
        api: 'github/zenus10'
      }
    ]}
  />
  <Timeline
    events={[
      { date: 'Wechat：', content: 'zzz10060928' },
      { date: 'QQ:', content: '3936696535' },
      { date: 'Tiktok:', content: 'Zenus10' }
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <ul>
    <li>
      <h5>Content</h5><br /> 待补充。。。
    </li>
    <br />
    <li>
      <h5>Wish</h5><br />希望我和我的小博客一起进步！
    </li>
  </ul>
</PageLayout>
