---
import type { MarkdownHeading } from 'astro'

import { TOC } from 'astro-pure/components/pages'
import PageLayout from '@/layouts/ContentLayout.astro'

interface Props {
  title: string
  headings?: MarkdownHeading[]
  view?: boolean
  comment?: boolean
}

const { title, headings, view, comment: enableComment, ...props } = Astro.props
---

<PageLayout meta={{ title }} {...props}>
  {headings?.length && <TOC headings={headings} slot='sidebar' />}

  <Fragment slot='header'>
    <h1 class='text-2xl font-medium sm:mb-2 sm:text-3xl'>{title}</h1>
  </Fragment>

  <slot />

  <slot name='bottom' slot='bottom' />

  <slot name='bottom-sidebar' slot='bottom-sidebar' />
</PageLayout>
